{% extends 'index.html' %}

{% block title %}Список сказок{% endblock %}

{% block content %}
<div class="list-container">
    <ul class="tale-list">
        {% for tale in tales %}
        <li class="tale-item">
            <div class="tale-title">{{ tale.title }}</div>

            <div class="tale-buttons">
                <a href="{% url 'tale_detail' pk=tale.pk %}">Подробнее</a>
                <a href="{% url 'tale_edit' pk=tale.pk %}">Редактировать</a>
                <a href="{% url 'tale_delete' pk=tale.pk %}">Удалить</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'tale_new' %}" class="add-button">Добавить новую сказку</a>
</div>
{% endblock %}
